<% if logged_in? %>
    <script>
        window.currentUser = {
            id: <%= current_user.id %>,
            username: "<%= current_user.username %>"
        }
    </script>
<% end %>
<script type="text/javascript">
    window.gradient = "<%= image_url('gradient-1.jpg') %>"
    window.stockTwo = "<%= image_url('stock2.jpg') %>"
    window.logo = "<%= image_url('logo.png') %>"
    window.laptop = "<%= image_url('laptop.jpg') %>"
    window.stockOne = "<%= image_url('stock-1.jpeg') %>"
    window.cellPhone = "<%= image_url('cellphone.png') %>"
    window.television = "<%= image_url('television.jpeg') %>"
    window.logoNoText = "<%= image_url('logo-notext.png') %>"
</script>

<div id="root"></div>