<% if logged_in? %>
    <script>
        window.currentUser = {
            id: <%= current_user.id %>,
            username: "<%= current_user.username %>",
            cashAvailable: "<%= current_user.cash_available %>"
        }
    </script>
<% end %>
<script type="text/javascript">
    window.logoNoText = "<%= image_url('logonotext.png') %>";
    window.stockThree = "<%= image_url('stock3.jpg') %>";
</script>

<div id="root"></div>