<% if logged_in? %>
    <script>
        window.currentUser = {
            id: <%= current_user.id %>,
            username: "<%= current_user.username %>"
        }
    </script>
<% end %>
<script type="text/javascript">
    window.gradient = "<%= image_url('gradient1.jpg') %>"
    window.stockTwo = "<%= image_url('stock2.jpg') %>"
    window.logo = "<%= image_url('logo.png') %>"
    window.laptop = "<%= image_url('laptop.jpg') %>"
    window.stockOne = "<%= image_url('stock1.jpg') %>"
    window.cellPhone = "<%= image_url('cellphone.png') %>"
    window.television = "<%= image_url('television.jpg') %>"
    window.logoNoText = "<%= image_url('logonotext.png') %>"
    window.laptopTwo = "<%= image_url('laptop2.png') %>"
    window.confetti = "<%= image_url('confetti.png') %>"
    window.dollars = "<%= image_url('dollars.jpg') %>"
</script>

<div id="root"></div>