<!DOCTYPE html>
<html>
  <head>
    <title>CapApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/282e12fcd3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <meta property="og:title" content="CapApp" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cap-app1000.herokuapp.com/#/" />
    <meta property="og:image" content="https://user-images.githubusercontent.com/59629330/84517881-dd3fa480-ac9d-11ea-8ca2-5ead4dcce696.png" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
